
.wrapper{
  max-width : 37.5rem;
  margin-inline    : auto;
}

nav{
  height: var(--nav-height);
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  position:fixed;
  width: 100%;
  /* transform: translateX(50%); */
}

nav .wrapper{
  width: 100%;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
}

.scroll{
  background-color: var(--primary-color);
}
nav.scroll{
  /* position: fixed;
  width: 100vh;
  transform: translateX(0) */
}

nav.scroll svg:nth-child(1) path {
 fill: var(--secondary-color-white);
}

nav.scroll a svg path  {
  stroke: var(--secondary-color-white);
}


header {
  text-align: center;
  
  padding    : calc(4rem + var(--nav-height)) 1rem 0;
}

header::before{
  content: '';
  background-color: var(--brand-green-light);

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100rem + var(--nav-height));

  z-index: -1;
}

.hero h4 {
  color         : var(--primary-color);
  text-transform: uppercase;
  font-size     : 1.4rem;
  line-height   : 150%;
  letter-spacing: 0.08rem;
}

.title {
  color: var(--gray-headline);

  margin-top : 1.6rem;
  line-height: 130%;
  font-size  : 3.4rem;
}

.subtitle {
  color     : var(--gray-paragraph);
  margin-top: 2.4rem;
}

.agendarConsulta {
  border       : none;
  border-radius: 10rem;

  padding: 1rem 2rem;
  display: flex;

  margin-inline    : auto;
  margin-top: 3.2rem;

  justify-content: center;
  align-items    : center;
  gap            : 1rem;

  background-color: var(--primary-color);
  color           : var(--secondary-color-white);
  text-transform  : uppercase;
}

.women {
  margin-top: 6rem;
  margin-inline: auto;

  object-position: 0 2rem;

  display         : flex;
}

.stats {
  background-color: var(--brand-beige);
  border          : 0.5rem solid var(--brand-green-light);
  border-top: 0;
  border-radius   : 0.6rem;

  padding-block: 4rem ;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.stat{
  display         : flex;
  flex-direction: column;
}

.stat h2 {
  font-size  : 4.8rem;
  line-height: 130%;
  margin-inline: auto;
}

.stat p {
  font-size  : 1.6rem;
  color      : var(--primary-color);
  line-height: 150%;
  font-weight: 700;
}