/***** COMMON ***************************/

.wrapper {
  max-width: 37.5rem;
  margin-inline: auto;
}

.scroll {
  background-color: var(--primary-color);
  transition: all 0.2s;
}

.open-menu,
.close-menu {
  border: none;
  background-color: transparent;
}

.close-menu {
  position: absolute;
  visibility: hidden;
}

.scheduleAppointment {
  border: none;
  border-radius: 10rem;

  padding: 1rem 2rem;
  display: flex;

  margin-inline: auto;
  margin-top: 3.2rem;

  width: fit-content;

  justify-content: center;
  align-items: center;
  gap: 1rem;

  transition: all 0.3s;

  background-color: var(--primary-color);
  color: var(--secondary-color-white);
  text-transform: uppercase;
}

.scheduleAppointment:hover {
  background: var(--brand-green-dark);
}

.subtitle {
  color: var(--primary-color);
  text-transform: uppercase;
  font-size: 1.4rem;
  line-height: 150%;
  letter-spacing: 0.08rem;
}

body.menu-expanded .logo,
body.menu-expanded button {
  position: relative;
  z-index: 100;
}

body.menu-expanded {
  overflow: hidden;
  transition: all 700ms;
}

body.menu-expanded> :not(nav) {
  visibility: hidden;
}

body .menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;

}

header>.title {
  color: var(--gray-headline);

  margin-top: 1.6rem;
  line-height: 130%;
  font-size: 3.4rem;
}

/***** NAVIGATION ***********************/

nav {
  height: var(--nav-height);

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  width: 100%;
}

nav .menu {
  position: absolute;

  background-color: var(--primary-color);
  top: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 6rem;

  font-size: 2.4rem;
}

nav .menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  width: 100%;

  align-items: center;

  margin-top: calc(4rem + var(--nav-height));
}

nav .menu .button-menu {
  cursor: pointer;
  border-radius: 4rem;

  padding: 1.6rem 3.2rem;

  text-transform: uppercase;

  background-color: var(--secondary-color-white);
  border: 0.2rem solid var(--primary-color);
  color: var(--primary-color);
  font-weight: 700;

  font-size: 1.8rem;

  transition: all 0.2s;
}

nav .menu .button-menu:hover {
  color: var(--secondary-color-white);
  background-color: var(--primary-color);
  border: 0.2rem solid var(--secondary-color-white);
}

nav a,
.social-media {
  color: var(--secondary-color-white);
  display: flex;
  gap: 3rem;
}

nav .social-media {
  margin-top: 3rem;
}

nav .social-media img {
  width: 2.4rem;
}

nav .wrapper {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
}

nav.scroll svg:nth-child(1) path {
  fill: var(--secondary-color-white);
}

nav.scroll a svg path {
  stroke: var(--secondary-color-white);
}

nav.scroll svg:nth-child(1) path,
body.menu-expanded .logo path {
  fill: var(--secondary-color-white);
}

nav.scroll svg path,
body.menu-expanded button path {
  stroke: var(--secondary-color-white);
}

/***** MENU *****************************/
/***** SOCIAL MEDIA *********************/
/***** HOME *****************************/
#home {
  text-align: center;

  padding: calc(4rem + var(--nav-height)) 1rem 0;
}

#home::before {
  content: '';
  background-color: var(--brand-green-light);

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(108rem + var(--nav-height));

  z-index: -1;
}

#home p {
  color: var(--gray-paragraph);
  margin-top: 2.4rem;
  font-size: 1.8rem;
}

#home .women {
  margin-top: 6rem;
  margin-inline: auto;

  object-position: 0 2rem;

  display: flex;
}


#home .stats {
  background-color: var(--brand-beige);
  border: 0.1rem solid var(--brand-green-light);
  border-top: 0;
  border-radius: 0.6rem;

  padding-block: 4rem;

  display: flex;
  flex-direction: column;
  gap: 4rem;
}

#home .stat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#home .stat h2 {
  font-size: 4.8rem;
  line-height: 130%;
  margin-inline: auto;
}

#home .stat p {
  font-size: 1.8rem;
  color: var(--primary-color);
  line-height: 150%;
  font-weight: 700;
}

/***** SERVICES *************************/
#services {
  padding-block: 10rem;
  text-align: center;
}

#services .cards {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  margin-top: 6rem;
}

#services .cards .card {
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--white-100);
  border: 0.1rem solid var(--brand-green-light);

  border-radius: 0.6rem;
}

#services .cards .card h3 {
  font-size: 2.4rem;
}

#services .cards .card img {
  width: 2.4rem;
}

/***** ABOUT ****************************/
#about {
  padding-block: 10rem;
  background-color: var(--brand-beige);
}

#about header {
  margin-bottom: 2.4rem;
}

#about p {
  line-height: 150%;
}

#about img {
  margin-top: 6rem;
}

/***** CONTACT **************************/
#contact {
  padding: 10rem 2.4rem;
}

#contact .wrapper {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

#contact h2 {
  font-size: 3.2rem;
}

#contact div {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

#contact .scheduleAppointment {
  margin-top: 0;
}

.address-mail {
  display: flex;
  flex-direction: row;
}

.address-mail p,
.address-mail a {
  display: flex;
  gap: 0.8rem;
}

/***** FOOTER ***************************/
footer {
  padding: 6rem 2.4rem;
  background-color: var(--primary-color);

  color: var(--secondary-color-white);
}

footer .logo svg {
  width: 23rem;
  height: 100%;
}

footer .logo path {
  fill: white;
}

footer .wrapper {
  display: flex;
  flex-direction: column;

  gap: 2.4rem;
}

footer .wrapper div {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

footer .social-media {
  margin-top: 1.2rem;
}

/***** BACK TO TOP **********************/
#backToTopButton {
  position: fixed;
  bottom: 1rem;
  right: 3rem;

  opacity: 0;
  visibility: hidden;
  transform: translateY(100%);

  transition: all 0.2s;
}

#backToTopButton.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}