/***** COMMON ***************************/

.wrapper {
  width: min(50rem, 100%);
  margin-inline: auto;
}

.scroll {
  background-color: var(--primary-color);
  transition: all 0.2s;
}

.open-menu,
.close-menu {
  border: none;
  background-color: transparent;
}

.close-menu {
  position: absolute;
  visibility: hidden;
}

.scheduleAppointment {
  border: none;
  border-radius: 10rem;

  padding: 1rem 2rem;
  display: flex;

  margin-inline: auto;
  margin-top: 3.2rem;

  width: fit-content;

  justify-content: center;
  align-items: center;
  gap: 1rem;

  transition: all 0.3s;

  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-transform: uppercase;
}

.scheduleAppointment:hover {
  background: var(--brand-dark);
}

.subtitle {
  color: var(--primary-color);
  text-transform: uppercase;
  font-size: 1.4rem;
  line-height: 150%;
  letter-spacing: 0.08rem;
}

body.menu-expanded .logo,
body.menu-expanded button {
  position: relative;
  z-index: 100;
}

body.menu-expanded {
  overflow: hidden;
  transition: all 700ms;
}

body.menu-expanded> :not(nav) {
  visibility: hidden;
}

body .menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;

}

header>.title {
  color: var(--gray-headline);

  margin-top: 1.6rem;
  line-height: 130%;
  font-size: 3.4rem;
}

section {
  padding: 1rem;
}

/***** CUSTOM COLOR *********************/

.open-menu svg path {
  stroke: var(--primary-color)
}

.content .card svg path {
  stroke: var(--brand-background)
}

#backToTopButton svg circle,
.content .card svg circle,
.address-mail svg path,
#navigation .logo svg path[fill*="#00856F"] {
  fill: var(--primary-color);
}

#navigation.scroll .logo svg path[fill*="#00856F"],
body.menu-expanded #navigation .logo svg path[fill*="#00856F"] {
  fill: var(--white-100);
}

/***** NAVIGATION ***********************/

nav {
  height: var(--nav-height);

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  width: 100%;
}

nav .menu {
  position: absolute;

  background-color: var(--primary-color);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 6rem;

  font-size: 2.4rem;
}

nav .menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  width: 100%;

  align-items: center;

  margin-top: calc(4rem + var(--nav-height));
}

nav .menu .button-menu {
  cursor: pointer;
  border-radius: 4rem;

  padding: 1.6rem 3.2rem;

  text-transform: uppercase;

  background-color: var(--secondary-color);
  border: 0.2rem solid var(--primary-color);
  color: var(--primary-color);
  font-weight: 700;

  font-size: 1.8rem;

  transition: all 0.2s;
}

nav .menu .button-menu:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border: 0.2rem solid var(--secondary-color);
}

nav a,
.social-media {
  color: var(--secondary-color);
  display: flex;
  gap: 3rem;
}

nav .social-media {
  margin-top: 3rem;
}

nav .social-media img {
  width: 2.4rem;
}

nav .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
}

nav.scroll svg:nth-child(1) path {
  fill: var(--secondary-color);
}

nav.scroll a svg path {
  stroke: var(--secondary-color);
}

nav.scroll svg:nth-child(1) path,
body.menu-expanded .logo path {
  fill: var(--secondary-color);
}

nav.scroll svg path,
body.menu-expanded button path {
  stroke: var(--secondary-color);
}

/***** MENU *****************************/
/***** SOCIAL MEDIA *********************/
/***** HOME *****************************/
#home {
  text-align: center;

  padding: calc(4rem + var(--nav-height)) 1rem 0;
}

#home::before {
  content: '';
  background-color: var(--brand-light);

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(110rem + var(--nav-height));

  z-index: -1;
}

#home p {
  color: var(--gray-paragraph);
  margin-top: 2.4rem;
  font-size: 1.8rem;
}

#home .women {
  margin-top: 6rem;
  margin-inline: auto;

  object-position: 0 2rem;

  display: flex;
}


#home .stats {
  width: 100%;
  background-color: var(--brand-background);
  border: 0.1rem solid var(--brand-light);
  border-top: 0;
  border-radius: 0.6rem;

  margin-inline: auto;
  padding-block: 4rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
}

#home .stat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#home .stat h2 {
  font-size: 4.8rem;
  line-height: 130%;
  margin-inline: auto;
}

#home .stat p {
  font-size: 1.8rem;
  color: var(--primary-color);
  line-height: 150%;
  font-weight: 700;
}

/***** SERVICES *************************/
#services {
  padding-block: 10rem;
  text-align: center;
}

#services .cards {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  margin-top: 6rem;
}

#services .cards .card {
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--white-100);
  border: 0.1rem solid var(--brand-light);

  border-radius: 0.6rem;
}

#services .cards .card h3 {
  font-size: 2.4rem;
}

#services .cards .card img {
  width: 2.4rem;
}

/***** ABOUT ****************************/
#about {
  padding-block: 10rem;
  background-color: var(--brand-background);
}

#about header {
  margin-bottom: 2.4rem;
}

#about p {
  line-height: 150%;
}

#about img {
  margin-top: 6rem;
}

/***** CONTACT **************************/
#contact {
  padding: 10rem 2.4rem;
}

#contact .wrapper {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

#contact h2 {
  font-size: 3.2rem;
}

#contact div {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

#contact .scheduleAppointment {
  margin-top: 0;
}

.address-mail {
  display: flex;
  flex-direction: row;
}

.address-mail p,
.address-mail a {
  display: flex;
  gap: 0.8rem;
}

/***** FOOTER ***************************/
footer {
  padding: 6rem 2.4rem;
  background-color: var(--primary-color);

  color: var(--secondary-color);
}

footer .logo svg {
  width: 23rem;
  height: 100%;
}

footer .logo path {
  fill: white;
}

footer .wrapper {
  display: flex;
  flex-direction: column;

  gap: 2.4rem;
}

footer .wrapper div {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

footer .social-media {
  margin-top: 1.2rem;
}

/***** BACK TO TOP **********************/
#backToTopButton {
  position: fixed;
  bottom: 1rem;
  right: 3rem;

  opacity: 0;
  visibility: hidden;
  transform: translateY(100%);

  transition: all 0.2s;
}

#backToTopButton.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/***** RESPONSIVIDADE********************/
@media (min-width: 1024px) {

  /***** RESET ****************************/
  nav .menu,
  nav#navigation .wrapper,
  nav .menu .button-menu,
  nav a {
    margin: 0;
    padding: 0;

    display: initial;
    flex-direction: initial;
    visibility: initial;
    opacity: initial;
    position: initial;
    font-weight: initial;

    color: initial;
    background-color: initial;
    border: initial;
    width: initial;
    height: initial;
    align-items: initial;
    justify-content: initial;

    top: initial;
    left: initial;
    right: initial;
    bottom: initial;

    gap: initial;

    text-transform: initial;
  }

  nav {
    height: initial;
  }

  nav#navigation .close-menu,
  nav#navigation .open-menu,
  nav#navigation .social-media {
    display: none
  }


  nav#navigation div.wrapper {
    padding: 2rem;
    max-width: 112rem;
    margin-inline: auto;
  }

  nav .menu ul:nth-child(1) {
    flex-direction: initial;
    margin: 0;
  }

  nav .menu .button-menu {
    width: 100%;
  }

  /***** COMMON ***************************/

  .wrapper {
    width: min(112rem, 100%);
  }

  /***** CUSTOM COLOR *********************/

  /***** NAVIGATION ***********************/

  body nav#navigation {
    display: flex;
    flex-direction: column;
  }

  nav#navigation .wrapper {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    width: 100%;
    align-items: center;
  }

  /***** MENU *****************************/
  nav#navigation .wrapper .menu {
    display: flex;
    gap: 20rem;
  }

  nav#navigation .wrapper .menu a {
    color: var(--primary-color)
  }

  nav .menu ul:nth-child(1) {
    gap: 3.2rem;
  }

  nav#navigation .wrapper .menu .button-menu {
    padding: 1rem 2rem;
    text-transform: uppercase;
    border: 0.1rem solid var(--primary-color);
  }

  nav#navigation .wrapper .menu .button-menu:hover {
    color: var(--secondary-color);
  }

  nav#navigation.scroll .wrapper .menu .button-menu {
    border: 0.1rem solid var(--secondary-color);
  }

  nav#navigation .menu a:hover {
    font-weight: 700;
    transition: all 0.3s;
  }

  nav#navigation.scroll .menu a:hover {
    opacity: 1;
  }

  nav#navigation.scroll .menu a {
    color: var(--secondary-color);
    opacity: 0.6;
    transition: all 0.2s;
  }

  nav#navigation .menu ul li::after {
    transition: width 0.2s;
  }

  nav#navigation .menu ul li:hover::after {
    content: '';
    border: 0.2rem solid var(--primary-color);

    position: relative;
    bottom: -2.5rem;

    display: block;
    width: 100%;
  }

  nav#navigation.scroll .menu li:hover::after {

    border: 0.2rem solid var(--secondary-color);
  }



  /***** HOME *****************************/
  section#home .wrapper {
    display: grid;
    grid-template-columns: 60rem 1fr;
    grid-template-areas:
      'A B'
      'C C';
  }

  #home::before {
    height: calc(75rem + var(--nav-height));
  }

  #home .title {
    font-size: 5.2rem;
  }

  #home .content,
  #home .content p {
    font-size: 2rem;
  }

  #home .col-a {
    grid-area: A;
    text-align: left;
    align-self: center;
  }

  #home .col-b {
    grid-area: B;
  }

  #home .stats {
    grid-area: C;
    flex-direction: row;
    justify-content: space-around;
  }

  #home .stats .stat {
    width: 100%;
  }

  #home .stats .stat+.stat {
    border-left: 0.1rem solid var(--primary-color);
  }

  /***** SOCIAL MEDIA *********************/

  /***** SERVICES *************************/
  #services .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50rem, 1fr));
  }

  /***** ABOUT ****************************/
  section#about .wrapper {
    display: grid;
    grid-template-columns: 60rem 1fr;
    gap: 4rem;
    align-self: center;
    grid-template-areas:
      'A B'
      'C C';
  }

  .title {
    font-size: 5.2rem;
  }

  .subtitle {
    font-size: 2.4rem;
  }

  #about .content,
  #about .content p {
    font-size: 2rem;
  }

  #about .col-a {
    grid-area: B;
    text-align: left;
    align-self: center;
  }

  #about .col-b {
    grid-area: A;
  }

  /***** CONTACT **************************/
  section#contact .wrapper {
    display: grid;
    grid-template-columns: 60rem 1fr;
    gap: 4rem;
    align-self: center;
    grid-template-areas:
      'A B'
      'C C';
  }

  .title {
    font-size: 5.2rem;
  }

  .subtitle {
    font-size: 2.4rem;
  }

  #contact .content,
  #contact .content p {
    font-size: 2rem;
  }

  #contact .col-a,
  #contact .col-a a {
    grid-area: A;
    text-align: left;
    align-self: stretch;
  }

  #contact .col-b {
    grid-area: B;
  }

  #contact .scheduleAppointment {
    margin-top: 3rem;
  }

  /***** BACK TO TOP **********************/

  /***** FOOTER ***************************/
}